<form action="patch '/articles/:id'" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
      Update: <input type="text" name="update" value="something">
     <input type="submit" id="Submit">
</form>





